<%
const view = 'categories'
const $ = require('../mock/$')(view)
%>
<%- include ./commons/snippets/head.ejs %>
<div class="p-categories">
  <%- include ./commons/components/swiper.ejs %>
  <%- include ./commons/components/nav-bar.ejs %>
  <%- include commons/components/categories.ejs %>
</div>
<%- include ./commons/snippets/footer.ejs %>
<%- include ./commons/snippets/foot.ejs %>
