<%
const view = 'home'
const $ = require('../mock/$')(view)
%>
<%- include ./commons/snippets/head.ejs %>
<div class="p-home">
  <%- include ./commons/components/swiper.ejs %>
  <%- include ./commons/components/nav-bar.ejs %>
  <div class="pb-middle-wrap bg1 mt-16 mb">
    <%- include ./commons/components/logo.ejs %>
    <%- include ./commons/components/hotline.ejs %>
    <%- include ./commons/components/qrcode.ejs %>
  </div>
  <div class="mt-16">
    <%- include ./commons/components/article-panel.ejs %>
  </div>
</div>
<%- include ./commons/snippets/footer.ejs %>
<%- include ./commons/snippets/foot.ejs %>
