<%
const view = 'news-details'
const $ = require('../mock/$')(view)
%>
<%- include ./commons/snippets/head.ejs %>
<div class="c-status-bar bg1 mb">
  <div class="c-status-bar__back" id="back"></div>
  <div class="c-status-bar__title c3 fs9"><%= $.details.title %></div>
</div>
<div class="p-news-details box">
  <%- include ./commons/components/news-details.ejs %>
  <%- include ./commons/snippets/footer.ejs %>
</div>
<%- include ./commons/snippets/foot.ejs %>
