<% const topCategoryTitle = $.alias === 'news' ? '走进重阳' : '联系我们' %>
<div class="c-articles">
  <div class="c-articles__heading">
    <div class="c-articles__title c14 fs8"><%= $.category ? $.category.title : topCategoryTitle %></div>
    <div class="c-articles__nav fs1">
      <a class="c15" href="/">遇见重阳</a>
      &gt;
      <a class="c15" href="/articles?a=<%= $.alias %>"><%= topCategoryTitle %></a>
      <% if ($.category) { %>
      &gt; <span class="c8"><%= $.category.title %></span>
      <% } %>
    </div>
  </div>
  <ul class="c-articles__body">
    <% $.items.forEach(function (item) { %>
    <li class="cc-item">
      <img class="cc-item__img" src="<%= $.helpers.getFileURL(item.picture) %>"
           onclick="window.location.href = '/articles/<%= item.id %>';">
      <div class="cc-item__body">
        <a class="cc-item__title c2 fs4" href="/articles/<%= item.id %>"><%= item.title %></a>
        <p class="cc-item__desc c6 fs2"><%- $.utils.cut({ text: item.content, max: 180 }) %></p>
        <p class="cc-item__time c7 fs2"><%= $.utils.time.getDate(item.created_at) %></p>
      </div>
    </li>
    <% }) %>
  </ul>
</div>
