<div class="c-news-details">
  <h1 class="c-news-details__title c13 fs6"><%= $.details.title %></h1>
  <div class="c-news-details__extra c14 fs1">
    发布日期：<span class="c15"><%= $.utils.time.getDate($.details.created_at) %></span>
    阅读：<span class="c15" id="news-views" data-resourceid="<%= $.details.id %>">-</span>
  </div>
  <div class="c-news-details__body s-cms-content">
    <img class="c-news-details__img" src="<%= $.helpers.getFileURL($.details.picture) %>">
    <%- $.details.content %></div>
  <div class="c-news-details__nav fs1">
    <% if ($.prev) { %>
    <a href="/news/<%= $.prev.id %>">上一篇：<%= $.prev.title %></a>
    <% } %>
    <% if ($.prev && $.next) { %>
    <br>
    <% } %>
    <% if ($.next) { %>
    <a href="/news/<%= $.next.id %>">下一篇：<%= $.next.title %></a>
    <% } %>
    <div class="c-news-details__nav-more">
      <a href="/news">&lt; 更多</a>
    </div>
  </div>
</div>
