<% const view = 'home' %>
<%- include ./commons/snippets/head.ejs %>
<%- include ./commons/snippets/header.ejs %>
<%- include ./commons/components/contact-us.ejs %>
<div class="c-main">
  <div class="c-main__side">
    <%- include ./commons/components/side-bar.ejs %>
  </div>
  <div class="c-main__body">
    afsdfds
  </div>
</div>
<%- include ./commons/snippets/footer.ejs %>
<%- include ./commons/snippets/foot.ejs %>
