<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="<%= $.head.keywords %>">
  <meta name="description" content="<%= $.head.description %>">
  <title><%= $.head.title %></title>
  <link href="<%= $.consts.CDN %>/static/styles/commons.css" rel="stylesheet">
  <link href="<%= $.consts.CDN %>/static/styles/<%= view %>.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
  <script>
    var VIEW = '<%= view %>'
  </script>
  <script src="<%= $.consts.CDN %>/static/scripts/commons.js"></script>
  <script src="<%= $.consts.CDN %>/static/scripts/<%= view %>.js"></script>
</head>
<body>
